@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

#root {
    display: contents !important;
}

#content {
    position: relative;
    margin-top: 110px;
    flex: 1 1 auto;
    z-index: 3;
}

/* Header */
header {
    width: 100%;
    /* height: 110px; */
    height: 75px;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    font-family: 'League Spartan';
    font-size: 20px;
    text-transform: uppercase;

    top: 75px;
    left: 0;
    box-shadow: none;
    background: transparent;
    transition: ease all .3s;
}

header.main {
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    top: 0;
    transition: ease all .4s;
}

header.default {
    background: #FFFFFF;
    color: #000 !important;
}

header .logo {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .2s;
    transform: scale(0.8);
}

header .logo img {
    height: 125%;
    filter: brightness(80%);
}

header .logo .logo-text {
    width: max-content;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    justify-content: flex-start;
}

header .logo .logo-text p {
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
}

header .logo .logo-text p:nth-child(2) {
    height: 20px;
    font-size: 24px;
}

header nav {
    width: 70%;
    height: 100%;
    padding-right: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
}

nav ul li {
    font-weight: 500 !important;
}

nav .btn-container {
    width: 20%;
    height: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn-container a {
    width: 170px;
    height: 35px;
    position: relative;
    text-align: center;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F45700;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

nav .btn-container a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #F45700;
    transform: translateX(-100%);
    transition: 0.5s ease all;
}

nav .btn-container a:hover::before {
    transform: translateX(0);
}

/* End of header */

/* Footer */
footer {
    width: 100%;
    height: 415px;
    min-height: 415px;
    position: relative;
    bottom: 0;
    background: #121E39;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
    flex: 0 1 415px;

    font-family: 'League Spartan';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

footer .top-row {
    width: 69.38%;
    /* height: calc(60% - 47px); */
    height: 65%;
    margin: 0 auto;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top-row .column {
    width: 33.3%;
}

footer .partners-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 18px;
    margin-bottom: 22px;
}

footer .partners-container .partner {
    width: 159px;
    height: 67px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .column .btn-container {
    width: 159px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in .1s;
}

footer .column .btn-container a {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFBFB;
    transition: ease-in .2s;
}

footer .column .btn-container:hover {
    background-color: #fff;
}

footer .column .btn-container:hover>a {
    color: #121E39;
    letter-spacing: 0.05em;
}

footer .column .general-contact-container {
    margin-top: 24px;
}

footer .column .general-contact-container p {
    margin: -3px;
}

footer .column .general-contact-container p a {
    text-decoration: underline;
}

footer .column .contact-container {
    height: 70%;
    margin-top: 24px;
}

footer .column .contact-container .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .column .contact-container .contact a,
footer .column .contact-container .contact p {
    width: 50%;
}

footer .column .contact-container .contact div {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .column .contact-container .contact div a {
    width: 100%;
    height: 25px;
}

footer .column .contact-container .contact:last-child {
    margin-top: 10px;
}

footer nav {
    width: 69.38%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

footer nav ul {
    width: 100%;
    height: fit-content;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
}

footer nav ul li {
    position: relative;
}

footer nav ul li:not(:last-child)::after {
    content: "|";
    position: relative;
    left: 2.5px;
    margin: 0 3px;
    color: #fff;
}

footer nav p {
    width: 100%;
    margin-top: -5px;
}

/* End of footer */

/* Main page */
.main-page {
    width: 100%;
    /* height: 947px; */
    height: 100vh;
    /* height: 1080px; */
    margin-top: -110px;
    background-image: url('./images/main-image.jpg');
    filter: brightness(0.9);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
}
.main-page .left-side {
    width: 50%;
    padding-top: 75px;
    padding-left: 125px;
    font-family: 'League Spartan';
    color: #fff;
}

.main-page .left-side .text {
    width: 100%;
    height: 215px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page .left-side .text::before {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    top: 5px;
    bottom: 25px;
    background: #BF3C00;
}

.main-page .left-side .text h1 {
    height: 100px;
    width: max-content;
    padding-left: 20px;
    font-family: 'League Spartan';
    font-size: 96px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.main-page .left-side .text h1:nth-child(1) {
    font-weight: 300;
}

.main-page .left-side p {
    width: 80%;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.04em;
    margin-top: 60px;
}

.main-page .left-side .buttons {
    width: 90%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .left-side .buttons .btn-container {
    width: 47%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #BF3C00;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.main-page .left-side .buttons .btn-container:nth-child(1) {
    background-color: #BF3C00;
}

.main-page .left-side .buttons .btn-container a {
    width: 100%;
    height: 100%;
    z-index: 2;
    font-weight: 400;
    margin: auto 20px;
    /* font-size: 32px; */
    font-size: 24px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page .left-side .buttons .btn-container a:hover {
    color: #fff;
}

.main-page .left-side .buttons .btn-container a[href$='/contacts']:hover {
    /* color: #172a56;  ????  */
    color: #fff;
    transition-duration: 0.5s;
}

.main-page .left-side .buttons .btn-container::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
    transition: 0.5s ease all;
}

.main-page .left-side .buttons .btn-container:nth-child(1):before {
    border-bottom: 80px solid #172a56 !important;
}

.main-page .left-side .buttons .btn-container:nth-child(2):before {
    border-bottom: 80px solid #F45700;
    /* border-bottom: 80px solid #BF3C00; */
}

.main-page .left-side .buttons .btn-container:nth-child(1):hover {
    border-color: #121E39;
}

.main-page .left-side .buttons .btn-container:hover::before {
    transform: translateX(0);
}

/* End of main page */

/* About us page */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.about-us_img {
    margin-right: 40%;
}

.about-us_img::before {
    content: "";
    display: block;
    position: relative;
    right: 60px;
    width: 100%;
    height: 8px;
    margin-bottom: 26px;
    background-color: #F45700;
}

.about-us_img::after {
    content: "";
    display: block;
    position: relative;
    width: 67%;
    height: 8px;
    background-color: #F45700;
    transform: rotate(-90deg) translateX(60%) translateY(-4200%);
}

.about-us_img img {
    width: auto;
    height: auto;
    content: url("/images/image4.png");
}

.shape_about-us {
    background-color: #121E39;
    transform: rotate(30deg);
    position: absolute;
    margin-left: 100%;
    width: 1500px;
    height: 2500px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.shape_about-us div:not(.btn-container) {
    margin-top: 450px;
    margin-left: 2%;
    width: 700px;
    text-align: center;
    transform: rotate(-30deg);
}

.shape_about-us h2,
.shape_about-us p {
    color: white;
}

.shape_about-us div h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shape_about-us div h2::after {
    content: "";
    display: block;
    margin-top: 50px;
    width: 15%;
    height: 4px;
    background-color: #F45700;
}

.shape_about-us div .btn-container {
    width: 50%;
    margin: 30px auto;
    font-weight: 400;
    font-family: 'League Spartan';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #BF3C00;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.shape_about-us div .btn-container a {
    width: 100%;
    height: 100%;
    padding: 7px 0;
}

.shape_about-us div .btn-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #F45700;
    transform: translateX(-100%);
    transition: 0.5s ease all;
}

.shape_about-us div .btn-container::before {
    border-bottom: 80px solid #F45700;
    /* border-bottom: 80px solid #BF3C00; */
}

.shape_about-us div .btn-container:hover a {
    color: #fff;
}

.shape_about-us div .btn-container:hover::before {
    transform: translateX(0);
}

.shape_about-us h2 {
    font-family: 'Oswald';
    font-weight: 400;
    /* font-size: 64px; */
    font-size: 48px;
    letter-spacing: 0.02em;
}

.shape_about-us p {
    width: 85%;
    margin: 0 auto;
    font-family: 'League Spartan';
    margin-top: 25px;
    font-weight: 400;
    /* font-size: 32px; */
    font-size: 26px;
    line-height: 130%;
}

/* End of about us page */

/* Statistics page */
.statistics-page {
    width: 100%;
    height: 328px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    outline: solid 4px #121E39;
    outline-offset: -3px;
    box-shadow: 0 -1px 5px 1px #0000007d;
}

.statistics-page .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('./images/statistics-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.03);
    filter: blur(2.5px);
    z-index: 1;
}

.statistics-container {
    width: 100%;
    height: 135px;
    margin: 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    z-index: 2;
}

.statistics-container .column {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'League Spartan';
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.statistics-container .column .img-container {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics-container .column .text-container {
    height: 100%;
    margin-left: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.statistics-container .column h2 {
    width: 100%;
    height: 50%;
    font-weight: 500;
    /* font-size: 78px; */
    font-size: 64px;
    margin-bottom: -25px;
}

.statistics-container .column p {
    width: 100%;
    /* font-size: 42px; */
    font-size: 34px;
    line-height: 1%;
}

/* End of statistics page */

/* Program page */
.program-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    /* margin: 0 163px; */
    overflow: hidden;
    box-shadow: 1px 3px 7px 3px #cccccc74;
}

.gray-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    z-index: 1;
}

.relative-container {
    width: 85%;
    height: 100%;
    margin-top: 110px;
    position: relative;
    z-index: 2;
}

.program-page .left-column,
.program-page .right-column {
    width: 50%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    position: absolute;
    bottom: 0;
}

.program-page .left-column {
    left: 0;
    width: 55%;
}

.program-page .right-column {
    right: 0;
    width: 60%;
}

.program-page h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Oswald';
    font-weight: 400;
    font-size: 64px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.program-page .left-column h1 {
    width: 692px;
    height: 120px;
    background: rgba(191, 60, 0, 0.85);
    margin-bottom: 58px;
    margin-left: 74px;
}

.program-page .left-column .program-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.left-column .program-container .program-description {
    width: 40%;
    margin-left: 20px;
}

.left-column .program-container .program-description p {
    width: 100%;
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 24px;
    line-height: 103%;
    color: #000000;
    position: relative;
    padding-left: 19.5px;
}

.left-column .program-container .program-description p::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #121E39;
    position: absolute;
    left: 0;
}

.right-column .profession-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-column .profession-container .profession-description {
    width: 30%;
}

.right-column .profession-container .profession-description p {
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 24px;
    line-height: 93.5%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #000000;
    position: relative;
    padding-right: 19.5px;
    display: flex;
}

.right-column .profession-container .profession-description p::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #BF3C00;
    position: absolute;
    right: 0;
}

.right-column .profession-container h1 {
    width: 335px;
    height: 331px;
    background: rgba(18, 30, 57, 0.88);
    margin-left: 20px;
}

.right-column .program-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 35px;
}

.right-column .program-container .program-description {
    width: 60%;
    height: 100%;
    margin-left: 20px;
}

.right-column .program-container .program-description p {
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 24px;
    line-height: 103%;
    text-align: right;
    color: #000000;
    display: flex;
    position: relative;
    padding-right: 19.5px;
}

.right-column .program-container .program-description p::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #121E39;
    position: absolute;
    right: 0;
}

.right-column .program-container .program {
    margin-left: 20px;
}

.program-page .program {
    width: 500px;
    min-width: 500px;
    height: 460px;
    border: 2px solid #808080;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 0.25)); */
    font-family: 'League Spartan';
    padding: 10px 26px;
    position: relative;
}

.program h3 {
    font-weight: 500;
    font-size: 32px;
    color: #272727;
    margin-top: 15px;
}

.program h3::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #BF3C00;
    display: block;
    margin-bottom: 5px;
}

.program h4 {
    font-weight: 400;
    font-size: 32px;
    color: #3D3D3D;
}

.program .program-duration {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 33px;
    display: flex;
    align-items: center;
}

.program .program-duration img {
    margin-top: -4px;
}

.program .program-duration p {
    font-weight: 500;
    font-size: 24px;
    color: #545454;
    margin-left: 11px;
}

.program ul {
    width: 100%;
    margin-top: 22px;
    margin-left: 24.5px;
}

.program ul li {
    width: 100%;
    font-size: 20px;
    color: #3B3B3B;
    margin: 13px 0;
    line-height: 18px;
}

.program ul li::before {
    content: "•";
    color: #F45700;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.program .btn-container {
    width: 100%;
    height: 45px;
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.program .btn-container button {
    background: #000;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.01em;
    border: 0;
    color: #FFFFFF;
    transition: ease all 0.5s;
    position: relative;
}

.program .btn-container button::after {
    content: "";
    background-image: url('./images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    font-weight: 400;
    position: absolute;
    right: 15px;
    bottom: 0;
    opacity: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease all 0.5s;
}

.program .btn-container:hover>button {
    background: #000;
    transition: all 0.5s;
    padding: 0 3.5rem;
}

.program .btn-container:hover>button::after {
    opacity: 1;
    transform: translateX(1px) scaleX(1.1);
    transition: ease all 1s;
}

/* End of program page */

/* Gallery page */
.gallery {
    background-color: #fff;
    margin-top: 50px;
}

.gallery h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 400;
    color: black;
    font-size: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
}

.gallery h2::after {
    content: "";
    display: block;
    margin-top: 16px;
    width: 5%;
    height: 5px;
    background-color: #F45700;
}

#carousel {
    box-shadow: 0 0 10px 8px #ccc;
}

.carousel-indicators button {
    background-color: #F45700 !important;
    height: 4px !important;
}

/* End of gallery page */

/* Our team page */
.teachers {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    /* padding-bottom: 250px;
    padding-top: 50px; */
}

.teachers h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 48px;
    line-height: 112.5%;
    letter-spacing: 0.02em;
    /* margin-top: 70px; */
    margin-bottom: 50px;
}

.teachers h2::after {
    content: "";
    display: block;
    margin-top: 16px;
    width: 30%;
    height: 5px;
    background-color: #F45700;
}

.teachers_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.teachers_div>div {
    box-shadow: 1px 1px 3px 3px #ccc;
    cursor: pointer;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.teachers_div>div .info-block {
    /* display: none; */
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    transition: ease all .5s;
    transition-timing-function: cubic-bezier(.77, -0.03, .63, .94);
}

.teachers_div>div .info-block .text-container {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    margin-top: 135px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;

    font-family: 'League Spartan';
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.teachers_div>div .info-block .text-container h3,
.teachers_div>div .info-block .text-container a,
.teachers_div>div .info-block .text-container p {
    position: relative;
    top: -100%;
    opacity: 0;
    margin: 10px 0;
    transition: ease all 1.2s;
}

.teachers_div>div .info-block .text-container h3 {
    font-weight: 500;
    font-size: 26px;
    /* transition: ease all 2.3s; */
}

.teachers_div>div .info-block .text-container a {
    font-weight: 400;
    font-size: 20px;
    color: #FFC700;
    /* transition: ease all 1.7s; */
}

.teachers_div>div .info-block .text-container p {
    font-weight: 300;
    font-size: 16px;
    /* transition: ease all 1.3s; */
}

.teachers_div>div:hover>.info-block {
    opacity: 1;
    left: 0;
}

.teachers_div>div:hover>.info-block p {
    transition: ease all 1.3s;
}

.teachers_div>div:hover>.info-block a {
    transition: ease all 1.7s;
}

.teachers_div>div:hover>.info-block h3 {
    transition: ease all 2.3s;
}

.teachers_div>div:hover>.info-block p,
.teachers_div>div:hover>.info-block a,
.teachers_div>div:hover>.info-block h3 {
    top: 0;
    opacity: 1;
}

.social_media_teacher {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #121E39;
    padding: 15px 65px;
    z-index: 3;
}

/* End of our team page */

/* Contacts page */
.contacts-page {
    width: 68%;
    margin: 0 auto;
    margin: 100px auto;
}

.contacts-page .top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 54px;
}

.contacts-page h1 {
    width: 100%;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.contacts-page h1::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    width: 120px;
    height: 5px;
    background-color: #F45700;
}

.contacts-page p {
    width: 50%;
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 24px;
    line-height: 112.5%;
    margin-top: 14px;
    text-align: center;
    color: #636363;
}

.contacts-page form {
    font-family: 'League Spartan';
    letter-spacing: 0.02em;
}

.contacts-page form input,
.contacts-page form textarea,
.contacts-page form select {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.contacts-page form input[type="date"],
.contacts-page form input::placeholder,
.contacts-page form textarea::placeholder,
.contacts-page form select {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #A8A8A8;
}


.contacts-page form .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 17.5px auto; */
    margin: 8.5px auto;
}

.contacts-page form .form-row .form-group {
    width: 46.5%;
}

.contacts-page form textarea {
    height: 155px;
}

.contacts-page form .btn-container {
    width: 290px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F45700;
    position: relative;
    overflow: hidden;
    transition: .1s ease-in-out;
    z-index: 1;
    margin-top: 8.5px;
}

.contacts-page form button {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    padding-top: 5px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    transition: .2s ease-in-out;
    z-index: 2;
}

.contacts-page form .btn-container::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #BF3C00;
    transform: translateX(-100%);
    transition: .5s ease all;
}

.contacts-page form .btn-container:hover {
    border-color: #BF3C00;
}

.contacts-page form .btn-container:hover button {
    color: #fff;
}

.contacts-page form .btn-container:hover::before {
    transform: translateX(0);
}

/* End of contacts page */




/* Media */

@media (max-width: 1500px) {
    .main-page .left-side {
        width: 60%;
    }
    .main-page .left-side .buttons .buttons {
        width: 100%;
    }
    .shape_about-us {
        margin-left: 130% !important;
        margin-right: 50px;
    }
    .shape_about-us div {
        width: 40% !important;
    }
}
@media (max-width: 1250px) {
    .main-page .left-side {
        width: 80%;
    }
}
@media (max-width: 1000px) {
    header .logo {
        width: 100%;
        padding: unset;
    }
    .main-page .left-side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 0;
        align-items: center;
        text-align: center;
        padding-top: 75px;
    }
    .main-page .left-side .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-page .left-side .text::before {
        display: none;
    }
    .main-page .left-side .text::after {
        content: '';
        display: block;
        position: absolute;
        width: 90%;
        bottom: 0;
        height: 5px;
        background: #BF3C00;
    }
}
@media (max-width:850px) {
    .main-page .left-side .text {
        height: fit-content;
    }
    .main-page .left-side .text h1 {
        font-size: 10vw;

        height: auto;
        line-height: auto;
    }
    .main-page .left-side p {
        font-size: 5vw;
        height: auto;
        line-height: auto;
    }
    .main-page .left-side .buttons .btn-container a {
        font-size: 3.8vw !important;
    }
    .shape_about-us {
        margin: unset !important;
        width: 100% !important;
        justify-content: center;
        transform: rotate(0deg) !important;
    }
    .shape_about-us h2 {
        font-size: 8vw !important;
    }
    .shape_about-us div {
        width: 90% !important;
        padding: unset !important;
        margin: unset !important;
        transform: rotate(0deg) !important;
    }
    .shape_about-us div p{
        width: 100% ;
        font-size: 4.5vw !important;
        margin: 20px 0 !important;
    }
    .shape_about-us div .btn-container {
        font-size: 3.8vw !important;
        width: 60% !important;
        margin: 30px auto !important;
    }
    header .logo p {
        width: 250px !important;
    }
    header .logo-text {
        width: 250px !important;
    }
    header .logo {
        margin: unset !important;
        display: flex !important;
        justify-content: center !important;
    }
}

/* End of media */