@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

#root {
    display: contents !important;
}

#content {
    position: relative;
    margin-top: 110px;
    flex: 1 1 auto;
    z-index: 3;
}

/* Header */
header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    font-family: 'League Spartan';
    font-size: 24px;
    text-transform: uppercase;

    top: 75px;
    left: 0;
    box-shadow: none;
    background: transparent;
    transition: ease all .3s;
}

header.main {
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    top: 0;
    transition: ease all .4s;
}

header.default {
    background: #FFFFFF;
    color: #000 !important;
}

header .logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .2s;
}

header .logo img {
    filter: brightness(80%);
}

header .logo .logo-text {
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    justify-content: flex-start;
}

header .logo .logo-text p {
    height: 35px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
}

header .logo .logo-text p:nth-child(2) {
    height: 25px;
    font-size: 24px;
}

header nav {
    width: 70%;
    height: 100%;
    padding-right: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
}

nav ul li {
    font-weight: 500 !important;
}

nav .btn-container {
    width: 20%;
    height: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn-container a {
    width: 200px;
    height: 45px;
    position: relative;
    text-align: center;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F45700;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

nav .btn-container a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #F45700;
    transform: translateX(-100%);
    transition: 0.5s ease all;
}

nav .btn-container a:hover::before {
    transform: translateX(0);
}

/* End of header */

/* Footer */
footer {
    width: 100%;
    height: 415px;
    min-height: 415px;
    position: relative;
    bottom: 0;
    background: #121E39;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
    flex: 0 1 415px;
}

/* End of footer */

/* Main page */
.main-page {
    width: 100%;
    height: 947px;
    /* height: 1080px; */
    margin-top: -110px;
    background-image: url('./images/main-image.jpg');
    filter: brightness(0.9);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
}

.main-page .left-side {
    width: 50%;
    padding-top: 75px;
    padding-left: 125px;
    font-family: 'League Spartan';
    color: #fff;
}

.main-page .left-side .text {
    width: 100%;
    height: 215px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page .left-side .text::before {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    top: 5px;
    bottom: 25px;
    background: #BF3C00;
}

.main-page .left-side .text h1 {
    height: 100px;
    width: max-content;
    padding-left: 20px;
    font-family: 'League Spartan';
    font-size: 96px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.main-page .left-side .text h1:nth-child(1) {
    font-weight: 300;
}

.main-page .left-side p {
    width: 80%;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.04em;
    margin-top: 60px;
}

.main-page .left-side .buttons {
    width: 90%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .left-side .buttons .btn-container {
    width: 47%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #BF3C00;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.main-page .left-side .buttons .btn-container:nth-child(1) {
    background-color: #BF3C00;
}

.main-page .left-side .buttons .btn-container a {
    width: 100%;
    height: 100%;
    z-index: 2;
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page .left-side .buttons .btn-container a:hover {
    color: #fff;
}

.main-page .left-side .buttons .btn-container a[href$='/contacts']:hover {
    /* color: #172a56;  ????  */
    color: #fff;
    transition-duration: 0.5s;
}

.main-page .left-side .buttons .btn-container::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
    transition: 0.5s ease all;
}

.main-page .left-side .buttons .btn-container:nth-child(1):before {
    border-bottom: 80px solid #172a56 !important;
}

.main-page .left-side .buttons .btn-container:nth-child(2):before {
    border-bottom: 80px solid #F45700;
}

.main-page .left-side .buttons .btn-container:nth-child(1):hover {
    border-color: #121E39;
}

.main-page .left-side .buttons .btn-container:hover::before {
    transform: translateX(0);
}

/* End of main page */

/* About us page */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

.about-us_img {
    margin-right: 40%;
}

.about-us_img::before {
    content: "";
    display: block;
    position: relative;
    right: 60px;
    width: 100%;
    height: 8px;
    margin-bottom: 26px;
    background-color: #F45700;
}

.about-us_img::after {
    content: "";
    display: block;
    position: relative;
    width: 67%;
    height: 8px;
    background-color: #F45700;
    transform: rotate(-90deg) translateX(60%) translateY(-4200%);
}

.about-us_img img {
    width: auto;
    height: auto;
    content: url("/images/image4.png");
}

.shape_about-us {
    background-color: #121E39;
    transform: rotate(30deg);
    position: absolute;
    margin-left: 100%;
    width: 1500px;
    height: 2500px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.shape_about-us div {
    margin-top: 450px;
    margin-left: 2%;
    width: 700px;
    text-align: center;
    transform: rotate(-30deg);
}

.shape_about-us h2,
.shape_about-us p {
    color: white;
}

.shape_about-us div h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shape_about-us div h2::after {
    content: "";
    display: block;
    margin-top: 50px;
    width: 15%;
    height: 4px;
    background-color: #F45700;
}

.shape_about-us h2 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.02em;
}

.shape_about-us p {
    font-family: 'League Spartan';
    margin-top: 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
}

/* End of about us page */

/* Statistics page */
.statistics-page {
    width: 100%;
    height: 328px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    outline: solid 4px #121E39;
    outline-offset: -3px;
}

.statistics-page .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('./images/statistics-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.03);
    filter: blur(2.5px);
    z-index: 1;
}

.statistics-container {
    z-index: 2;
}

/* End of statistics page */